<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Upload Image Files</h3>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
        이름 : <input type="text" name="className" class="span" /><br /><br />
        <input type="file" multiple="" name="file[]" class="span" /><br />
        <input type="submit" value="Upload"  class="span">
      </form>
      </div>
    </div>
  </body>
</html>
 