<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Training</h3>
      </div>
        <p>
           {% if result %}
          <input id="name" type="text" value={{result[0][0]}} readonly="readonly" />
          {% else %}
          <input id="name" type="text" value="" readonly="readonly"/>
           {% endif %}
          <input id="training" type="button" value="training" />
        </p>
      <hr/>
      <div class="header">
        <h3 class="text-muted">Predict</h3>
      </div>
        <p id="status">File API & FileReader API not supported</p>
        <p><input id="selector" type=file></p>
        <p><div id="holder"></div></p>
        <p><input id="predict" type="button" value="predict"/> class is </p>
      <hr/>
      <div class="header">
        <h3 class="text-muted">Uploaded files</h3>
      </div>
      <div>
        <p>this is a list of the files you just uploaded, click on them to load/download them</p>
      <ul>
        {% for file in result %}
          <li><a href="{{url_for('uploadedFile', className=file[0], fileName=file[1])}}">{{file[0]}} : {{file[1]}}</a></li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </body>
  <script>
    var dataUrl = ''
    $(document).ready(function () {
      $('#training').on('click', function () {
        $.ajax({
            url : "/api/request_training?name=" + $('#name').val(),
            success : function (data) {
                alert(data);
            },
            error : function (data) {
                alert(data);
            }
         });
       })

       $('#predict').on('click', function () {
        $.ajax({
            url : '/api/validate_face_recognition',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
              mode: '0',
              dataURL: dataUrl
            }),
            dataType: 'json',
            success : function (data) {
                alert("name : " + data.people[0].name + " / " + "probability : " + data.people[0].prob);
            },
            error : function (data) {
                alert(data);
            }
         });
       })
    });

    var upload = document.getElementById('selector'),
        holder = document.getElementById('holder'),
        state = document.getElementById('status');

    if (typeof window.FileReader === 'undefined') {
      state.className = 'fail';
    } else {
      state.className = 'success';
      state.innerHTML = 'File API & FileReader available';
    }

    upload.onchange = function (e) {
      e.preventDefault();

      var file = upload.files[0],
      reader = new FileReader();
      reader.onload = function (event) {
        var img = new Image();
        dataUrl = img.src = event.target.result;
        // note: no onload required since we've got the dataurl...I think! :)
        img.width = 450;
        holder.innerHTML = '';
        holder.appendChild(img);
      };
      reader.readAsDataURL(file);

      return false;
    };
  </script>
</html>

 